* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: "Edu QLD Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;





}



.logo,
.logos {
    position: absolute;
    left: 0;
    top: 0;
    width: 10rem;
    object-fit: contain;


}



.butdiv {
    display: flex;
    gap: 2rem;

}

.log {
    width: 100%;
}

.logos {
    display: none;
}

html {
    font-size: clamp(12px, 1.3vw, 20px);
}

body {
    background-color: rgba(255, 255, 255, 0.89);
    font-family: Poppins;

}

.nav {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    row-gap: 3rem;
}

li {
    margin-right: 50px;
    list-style: none;
    font-weight: 300;

}

.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(her0769.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;

}

.heroTxt {
    width: 55%;
    margin-top: 7rem;
}

h1 {
    color: rgb(236, 0, 146);
    font-size: 4rem;
    margin-left: 10%;
    font-weight: 700;
}

.butdiv,
h2 {
    margin-left: 10%;
    letter-spacing: 0.2rem;
}

a {
    color: rgb(252, 237, 237);
    text-decoration: none;
}

a:hover {
    color: rgb(236, 20, 20);
}

.sev,
.price {
    display: flex;
    height: fit-content;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    font-size: 1.5rem
}

.about {
    min-height: 100vh;
    background-color: rgb(236, 0, 146);
}

.ab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}

.abwr {
    display: flex;
    align-items: center;
    justify-content: center;

}

.abcon {
    width: 70%;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

.sev {
    background-color: rgb(255, 0, 157);
}

.sev:hover {
    background-color: aqua;
}

.price {
    background-color: rgb(53, 53, 49);
}



.fadeout {
    opacity: 0;
}

.fadein {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 4rem;
    }

    to {
        opacity: 1;
        margin-top: 0rem;
    }

}

.menubar {
    background-color: rgba(15, 15, 15, 0.486);
    position: fixed;
    backdrop-filter: blur(40px);
    right: 0;
    top: 0;
    width: 45%;
    height: 60vh;
    padding: 1rem;
}



.menicon {
    width: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
    margin-right: 0rem;
    display: none;

}

.menicon2 {
    width: 100%;
}

.closed {
    display: none;
}

.xclose {
    width: 26px;

}

.xclose2 {
    width: 100%;
    background-color: aliceblue;
    border-radius: 50%;
}

.fl {
    display: flex;
    justify-content: space-evenly;
}

.sevwr {
    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.sevcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 15rem;
    border-radius: 3rem;
    box-shadow: 3px 3px 4px rgba(223, 219, 219, 0.418);
    background-color: rgba(141, 133, 133, 0.404);
}

.imagecon {
    width: 6rem;
    object-fit: contain;
}

.im {
    width: 100%;
}

.sevcon2 {
    width: 10rem;
    height: 10rem;
}

.services {
    color: black;
    background-color: rgb(27, 31, 34);
    padding-bottom: 6rem;
}

.prwr {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 157);
    padding-bottom: 12rem;
}

.pricing {
    background-color: rgb(255, 0, 157);

}

.nav2 {
    font-size: 1.3rem;
}

.footer {
    background-color: rgb(123, 124, 126);
    padding-bottom: 10rem;
}

.logob {
    width: 10rem;
    object-fit: contain;

}

.contact {
    display: flex;
    justify-content: space-between;
}

.nav2 {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.links {
    color: rgb(25, 0, 255);
    letter-spacing: 0.2rem;
}

.div1 {
    font-size: 1.5rem;
}

.dave {
    color: rgb(255, 166, 0);
}

@media(max-width:623px) {
    .navLinks {
        display: none;

    }

    .menicon {
        display: unset;
    }

    .fl {
        flex-direction: column;
        gap: 6rem;
        justify-content: center;
        align-items: center;
    }

    .sevcon {
        width: 60%;
        height: 20rem;
    }

    .imagecon {
        width: 10rem;
    }

    .prwr {
        gap: 6rem;
    }

    .contact {
        flex-direction: column;
        gap: 2rem;
    }
}

@media(max-width:874px) {
    .hwr {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heroTxt {
        width: 80%;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .butdiv {
        font-size: 3.5rem;
    }

    .sev,
    .price {
        font-size: 2.5rem;
    }
}

@media(max-width:400px) {

    .sev,
    .price {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}

@media(max-width:275px) {

    .sev,
    .price {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

}

@media(max-width:365px) {

    .sev,
    .price {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

}